.calculator {
  position: relative;  
}

.calculator h1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  
  margin: 0;
  font-size: 24px;
}

.calculator input[type="text"] {
  padding-top: 30px; 
}
  
  .calculator .keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .calculator button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    cursor: pointer;
  }
  
  .calculator button.highlight {
    background-color: #ff9800;
    color: #fff;
  }
  .calculator button#result {
    width: auto; 
    grid-column: 1 / span 4;
  }
